<ul>
<% @songs.each do |song| %>
  <% if song.artist %>
  <li><%= link_to song.title, song_path(song) %></li>
  <% else %>
  <h1><%= link_to "Add Artist", edit_song_path(song) %></h1>
  <% end %>
  <%= display_artist song %>
<% end %>
</ul>
<br>
<%= link_to "Add New Song", new_song_path %>




